:root {
    --primary: hsl(228, 12%, 48%);
    --main: hsl(212, 21%, 14%);
    --light: hsl(0, 0%, 100%);
    --dark: hsl(158, 36%, 37%);
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Fraunces', serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

}

img {
    flex-basis: 20%;
    width: 75px;
    height: 350px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.box2 {
    flex-basis: 20%;
    width: 75px;
    height: 350px;
    line-height: 1.2;    

    background-color: white;
    padding: 40px 35px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.para1 {
    color: var(--primary);
    font-size: x-small;
}

h1 {
    line-height: 1;
    color: var(--main);
    font-weight: 700;
}

.para2 {
    color: var(--primary);
}

.para3 {
    color: var(--dark);
    font-size: x-large;
    font-weight: 700;
    display: inline;
}

span {
    display: inline;
    font-size: smaller;
    text-decoration: line-through;
    color: var(--primary);
    position: relative;
    display: inline;
    bottom: 5px;

}

.button {
    margin-top: 10px;
    padding: 8px 27px;
    text-align: justify;
    background-color: var(--dark);
    color: white;
    border: 0px solid;
    border-radius: 6px;
    font-size: larger;
    font-weight: 700;
}

.button:hover {
    background-color: rgb(17, 37, 29);
}


@media (max-width: 160px) {
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 100px;

    }    


    img {
        flex-basis: 20%;
        width: 75px;
        height: 350px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .box2 {        
        flex-basis: 20%;
    width: 75px;
    height: 350px;
    line-height: 1.3;    

    padding: 40px 35px;
        
    }

    .button {
        margin-top: 10px;
    padding: 8px 30px;
        text-align: justify;
        background-color: var(--dark);
        color: white;
        border: 0px solid;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 700;
    }
    
    .button:hover {
        background-color: rgb(17, 37, 29);
    }
    


@media (max-width: 1440px) {
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 120px;

       
    }    

    img {
        
        width: 140px;
        height: 400px;
        border-radius: 6px 0px 0px 6px;
        
    }

    .box2 {
        height: 400px;
        width: 290px;

        line-height: 1.3; 
        padding: 10px 15px;   
        border-radius: 0px 6px 6px 0px;
}

span {
    bottom: -1px;
}

.button {
    margin-top: 1px;
    padding: 2px 7px;
    text-align: justify;
    background-color: var(--dark);
    color: white;
    border: 0px solid;
    border-radius: 6px;
    font-size: smaller;
    font-weight: 700;
}



}




